{% extends 'base.html.twig' %}

{% block title %}ContactDate index{% endblock %}

{% block body %}
    <h1>ContactDate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact_date in contact_dates %}
            <tr>
                <td>{{ contact_date.id }}</td>
                <td>{{ contact_date.date ? contact_date.date|date('Y-m-d') : '' }}</td>
                <td>{{ contact_date.text }}</td>
                <td>
                    <a href="{{ path('app_contact_date_show', {'id': contact_date.id}) }}">show</a>
                    <a href="{{ path('app_contact_date_edit', {'id': contact_date.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_contact_date_new') }}">Create new</a> #}
{% endblock %}
